/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/* Navigation Styles */
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

/* Hero Section Styles */
.hero {
    position: relative;
    background-color: #f0f0f0;
    height: 40vh;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.hero h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    margin: 0 0 20px 0;
}

/* Image Styles */
.image-container {
    text-align: center;
}

.standardized-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    align-items: left;
}

.footer-content p {
    margin: 0;
    flex: 1;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .hero h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.5em;
    }
} 